<style>
    .flex-container{
        display: flex;
        width: 100%;
    }
    .items{
        /* border: 1px solid blue; */
        padding: 10px;
        flex: 1;
        margin: 2px;
        padding-right: 50px;
        border: 1px solid black;
    }

</style>

<div class="flex-container">
    <div class="items">
        <h2>About</h2>
        <p>Accenture is a professional service company, providing services and 
            solutions in streategy, consulting, digital, technology and operations.
        </p>
        <h5>Dublin, Dublin, Ireland</h5>
        <h5>www.accenture.com/in-en</h5>
        <h3>Founded Date <br> 1989 </h3>
        <h4>Years in Business</h4>
    </div>

    <div class="items">
        <h5>Industries</h5>
            <!-- <mat-chip-list
                class="example-chip"
                cdkDropList 
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                <mat-chip
                    class="example-box"
                    cdkDrag
                    *ngFor="let vegetable of vegetables">
                    
                    apple
                </mat-chip>
            </mat-chip-list> -->
        <h5>Sector</h5>
    </div>

    <div class="items">Pooja</div>
    
    
</div>
