<style>
    .flex-container{
        display: flex;
        width: 100%;
    }
    .items{
        /* border: 1px solid blue; */
        padding: 10px;
        flex: 1;
        margin: 2px;
        padding-right: 50px;
        /* border: 1px solid black; */
    }

    .cmpny-industry{
        margin: 40px 0;
    }
</style>

<div class="flex-container">
    <div class="items">
        <h2>About</h2>
        <!-- <p>Accenture is a professional service company, providing services and 
            solutions in streategy, consulting, digital, technology and operations.
        </p>
        <h5>Dublin, Dublin, Ireland</h5>
        <h5>www.accenture.com/in-en</h5>
        <h3>Founded Date <br> 1989 </h3>
        <h4>Years in Business</h4> -->
    </div>

    <div class="items">
        <div class="cmpny-industry">
            <h3>Industries</h3>
            <!-- <mat-chip-list
                class="example-chip"
                cdkDropList 
                cdkDropListOrientation="horizontal"
                >
                <mat-chip
                    class="example-box"
                    cdkDrag
                    *ngFor="let industry1 of industry">
                    {{industry1.name}}
                </mat-chip>
                </mat-chip-list> -->
        </div>

        <h3>Sector</h3>
    </div>

    <div class="items">
        <div class="example-button-row">
            <!-- <button mat-raised-button color="primary">Ticker : ACN</button>
            <button mat-raised-button color="primary">IPO Date : J07/19/2001</button>
            <button mat-raised-button color="primary">Market Cap: 23 TCr</button>
            <button mat-raised-button color="primary">Exchange Info</button> -->
        </div>

    </div>
    
    
</div>
